/*
* 	Owl Carousel Owl Demo Theme 
*	v1.15
*/

.owl-theme .owl-controlls{
    margin-top: 10px;
	text-align: center;
	position: relative;
	z-index: 20;
	width: 1170px;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controlls .owl-buttons div{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	font-size: 0px;
	height: 59px;
	width: 30px;
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	top: -205px;
}
.owl-theme .owl-controlls .owl-buttons div:hover{
	background-position: center bottom;
}
.owl-theme .owl-controlls .owl-buttons div.owl-prev{
	background-image: url(../images/prev.png);
	left: 0px;
}
.owl-theme .owl-controlls .owl-buttons div.owl-next{
	background-image: url(../images/next.png);
	right: 0px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controlls.clickable .owl-buttons div:hover{
}

/* Styling Pagination*/

.owl-theme .owl-controlls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	
}
.owl-theme .owl-controlls .owl-page span{
	display: block;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	background: transparent;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	margin-right: 14px;
}
.owl-theme .owl-controlls .owl-page:last-child span{
	margin-right: 0px;
}
#rev-slider .owl-controlls .owl-page:nth-child(3) span{
	margin-left: 70px;
}

.owl-theme .owl-controlls .owl-page.active span,
.owl-theme .owl-controlls.clickable .owl-page:hover span{
	border-color: #e74260;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controlls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}



