html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
#page {
  position: relative;
  min-height: 100%;
}
* html #page {
  height: 100%;
}
a, img { outline: none; }
* { margin:0px; padding:0px;}
body {
	margin:0;
	padding:0;
	width:100%;
	color: #454545;
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a {
	text-decoration: underline;
	color: #262626;
}
a:hover {
	text-decoration: none;
}
p {}
h1{
	font-family: 'Kurale', serif;
	font-size: 54px;
	font-weight: normal;
}
h2{
	font-size: 36px;
	color: #26252C;
	font-weight: 300;
	margin-bottom: 50px;
	text-align: center;
}
.clear { clear:both;}
.overlay {
	z-index: 300;
}
.lightbox {
	z-index: 301;
}
#page {
	background-color: #fff;
}
.wrap {
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
.wrap.close_modal {
	text-align: center
}
.wrap.close_modal a{
	font-size: 0px;
	text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -25px;
	background: url(../images/method.png) no-repeat;
}
.minw {
	min-width: 1170px;
}
.g-hidden {
	display: none;
}
#object{
    visibility: hidden;
}
#header {
	background: url(../images/header.jpg) no-repeat center top;
	border-top: 4px solid #ee4755;
	color: #fff;
	margin-bottom: 66px;
	min-width: 1170px;
}
#header a{
	color: #fff;
}
.dark{
	background: rgba(39, 37, 44, 0.6);
}
#header .wrap{
	padding-top: 34px;
	height: 740px;
}
.btn {
	line-height: 40px;
	background-color: #ee4455;
	color: #fff;
	height: 38px;
	display: block;
	font-size: 18px;
	text-decoration: none;
	border: 1px solid #ee4455;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.btn:hover {
	background-color: #eeeeee;
	color: #222222 !important;
}
.top {
	display: table;
	width: 100%;
	padding-bottom: 40px;
}
.top div{
	display: table-cell;
	vertical-align: top;
}
.top .adress {
	width: 25%;
	font-weight: 500;
}
.top .adress span {
	display: block;
	position: relative;
	font-size: 16px;
	text-align: left;
	padding-top: 10px;
	padding-left: 30px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.top .adress span:before {
	position: absolute;
	left: 0px;
	top: 0px;
	content: '';
	display: block;
	width: 22px;
	height: 30px;
	background: url(../images/gps.png) no-repeat left top;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.top .adress span:hover:before {
	top: -30px;
	opacity: 0;
}
.top .adress small {
	font-size: 14px;
	display: block;
	margin-top: 15px;
	font-weight: normal;
}
.top .logo {
	width: 50%;
	text-align: center;
	padding-bottom: 40px;

}
.top .logo a {
	display: block;
	height: 140px;
	width: 260px;
	margin: 0 auto;
}
.top .logo a span{
	display: table-cell;
	height: 140px;
	width: 260px;
	text-align: center;
	vertical-align: middle;
}
.top .logo a img{
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.top .logo a:hover img{
	transform: scale(0.9);
}
.top .phone {
	width: 25%;
	font-size: 24px;
	padding-top: 10px;
	font-weight: 500;
}
.top .phone span {
	background-image: url(../images/phone.png);
	display: block;
	padding-top: 3px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: left top;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.top .phone span:hover {
	background-position: left 43px;
}
.top .phone small {
	font-size: 14px;
	display: block;
	line-height: 20px;
	margin-top: 6px;
	font-weight: normal;
}
#header .menutop {
	-webkit-transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-ms-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	transition: background 0.3s ease-out;
	padding-top: 1px;
	background: url(../images/menutop.png) no-repeat center top;
	text-align: center;
	margin-bottom: 110px;
}
#header .menutop ul{
	padding-bottom: 1px;
	background: url(../images/menutop.png) no-repeat center bottom;
}
#header .menutop li{
	list-style-type: none;
	display: inline-block;
}
#header .menutop li+li{
	margin-left: 40px;
	background-image: url(../images/menutopli.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 48px;
}
#header .menutop a{
	font-size: 18px;
	text-decoration: none;
	display: block;
	height: 49px;
	line-height: 54px;
	border-bottom: 5px solid transparent;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 500;
}
#header .menutop a:hover{
	border-color: #cec8cb;
}
#header .menutop a.active{
	border-color: #cec8cb;
}

#header .menutop.fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 30;
	line-height: 60px;
	background-color: #27252C;
	height: 60px;
	width: 100%;
	background-image: none !important;
}
#header .menutop.fixed ul{
	background: url(../images/menutoplogo.png) no-repeat left center;;
	padding-left: 100px;
	width: 1070px;
	margin: 0 auto;
}
#header .menutop.fixed ul:after{
	content: '';
	display: table;
	clear: both;
}
#header .menutop.fixed li {
	float: left;
}
#header .menutop.fixed li:first-child{
	border-left: 1px solid #3d3b42;
	padding-left: 20px;
} 
#header .menutop.fixed li:last-child{
	margin-left: 0px;
}
#header .menutop.fixed li+li{
	margin-left: 30px;
	background: none;
	padding-left: 0px;
}
#header .menutop.fixed li a{
	height: 55px;
	line-height: 60px;
}
#header .menutop .phone{
	font-size: 18px;
	line-height: 21px !important;
	color: #fff;
	height: 50px;
	padding-top: 10px;
	text-align: left;
	padding-left: 10px !important;
	border-left: 1px solid #3d3b42;
	width: 100px;
	display: none;
}
#header .menutop.fixed .phone{
	display: block;
}
#header .menutop .phone span{
	font-size: 16px;
}
#header .menutop .cart{
	border-left: 1px solid #3d3b42;
	float: right !important;
	display: none;
}
#header .menutop.fixed .cart{
	display: block;
	text-align: left;
}
#header .menutop .cart a{
	padding-left: 50px !important;
	height: 60px !important;
	line-height: 60px;
	border: 0px !important;
	background: url(../images/cart.png) no-repeat 8px center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 95px;
}
#header .menutop .cart a:hover{
	background: url(../images/carth.png) no-repeat 8px center #EE4A55;
	color: #000;
}

#head-slider {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 384px;
	display: none;
}
#head-slider .title {
	background-image: url(../images/hsltit.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 26px;
	padding-bottom: 26px;
}
#head-slider p {
	font-size: 21px;
	width: 520px;
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: center;
	font-weight: normal;
}
.readmore {
	width: 200px;
	margin: 0 auto;
	margin-bottom: 120px;
}
#menu-roll {
	margin-bottom: 67px;
}
#menu-roll h2{
	text-align: left;
	background: url(../images/h2.png) no-repeat 510px center;
	text-transform: none;
}
#menu-roll .wrap:after{
	content: '';
	display: table;
	clear: both;
}
#menu-roll div{
	position: relative;
	font-size: 18px;
	color: #1F1F1F;
	text-transform: uppercase;
	font-weight: 500;
}
#menu-roll div i{
	display: table-cell;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	left: 0px;
	top: 0px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#menu-roll div span{
	position: absolute;
	display: block;
	background: url(../images/menurollspanr.jpg) no-repeat left top;
	padding-top: 20px;
	z-index: 20;
}
#menu-roll div .t-left{
	left: 30px;
	top: 28px;
	-webkit-transition: top 0.3s ease-out;
	-moz-transition: top 0.3s ease-out;
	-ms-transition: top 0.3s ease-out;
	-o-transition: top 0.3s ease-out;
	transition: top 0.3s ease-out;
}
#menu-roll div .center{
	text-align: center;
	width: 100%;
	left: 0px;
	top: 28px;
	background-position: center top;
	-webkit-transition: top 0.3s ease-out;
	-moz-transition: top 0.3s ease-out;
	-ms-transition: top 0.3s ease-out;
	-o-transition: top 0.3s ease-out;
	transition: top 0.3s ease-out;
}
#menu-roll div .white{
	background: url(../images/menurollspanw.jpg) no-repeat center top;
	color: #fff;
}
#menu-roll div+div:hover .t-left{
	top: 191px;
	background: url(../images/menurollspanw.jpg) no-repeat left top;
	color: #fff;
}
#menu-roll div+div:hover .center{
	top: 191px;
	background: url(../images/menurollspanw.jpg) no-repeat center top;
	color: #fff;
}
#menu-roll div+div.novelty:hover .center{
	top: 446px;
}
#menu-roll div+div.deserts:hover .t-left{
	top: 236px;
}
#menu-roll .wrap div:hover i{
	background: rgba(238, 77, 85, 0.85);
}
#menu-roll .menu {
	width: 570px;
	height: 570px;
	float: left;
	visibility: hidden;
}
#menu-roll .salats {
	width: 300;
	height: 255px;
	float: right;
	float: right;
	margin-top: 31px;
	visibility: hidden;
}
#menu-roll .hot {
	width: 300;
	height: 255px;
	float: right;
	margin-bottom: 29px;
	visibility: hidden;
}
#menu-roll .novelty {
	width: 300px;
	height: 510px;
	float: right;
	margin-top: 31px;
	margin-bottom: 29px;
	visibility: hidden;
}
#menu-roll .soups {
	width: 250px;
	height: 240px;
	float: left;
	visibility: hidden;
}
#menu-roll .napitki {
	width: 250px;
	height: 240px;
	float: left;
	visibility: hidden;
}
#menu-roll .deserts {
	width: 670px;
	height: 300px;
	float: left;
	margin-top: -29px;
	position: relative;
	visibility: hidden;
}
#menu-roll .menu span{
	top: 300px;
}
#menu-roll li{
	list-style-type: none;
	margin-bottom: 14px;
}
#menu-roll li a{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
#menu-roll li a:hover{
	color: #EE4D55;
	border-color: #EE4D55;
}
#delivery {
	overflow: hidden;
	min-width: 1170px;
}
#delivery #sl-l{
	visibility: hidden;
}
#delivery h2{
	text-transform: none;
}
#delivery .title {
	width: 180px;
	height: 119px;
	margin: 0 auto;
	margin-bottom: 20px;
}
#delivery .title span{
	display: table-cell;
	height: 119px;
	width: 180px;
	text-align: center;
	vertical-align: middle;
}
#delivery .title img{
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#delivery .title:hover img{
	transform: scale(0.9);
}
#delivery p{
	font-size: 18px;
	color: #212121;
	width: 740px;
	margin: 0 auto;
	margin-bottom: 45px;
	text-align: center;
	font-weight: 300;
}
.features {
	background-image: url(../images/delivery.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 404px;
}
.features:after {
	content: '';
	display: table;
	clear: both;
}
.feat {
	float: left;
	font-size: 18px;
	color: ##666666;
	font-style: italic;
	margin-bottom: 122px;
	width: 280px;
	line-height: 26px;
	font-weight: 300;
}
.feat+.feat {
	float: right;
	text-align: right
}
.feat span{
	font-weight: 500;
}
#reviews {
	background: url(../images/reviews.jpg) no-repeat center top;
	color: #fff;
	margin-bottom: 40px;
	min-width: 1170px;
}
#reviews .wrap{
	height: 497px;
}
#reviews h2{
	color: #fff;
	line-height: 36px;
}
#rev-slider {
	padding-top: 70px;
	height: 427px;
}
#rev-slider .item {
	position: relative;
	height: 300px;
	padding-bottom: 31px;
}
#rev-slider p{
	width: 750px;
	font-size: 18px !important;
	line-height: 22px !important;
	margin: 0 auto 15px auto;
	font-weight: 300;
}
#rev-slider .author{
	text-align: center;
	position: absolute;
	top: 325px;
	left: 0px;
	width: 1170px;
}
#rev-slider .author img{
	border-radius: 50%;
	border: 2px solid #e74260;
	height: 46px !important;
	width: 46px !important;
}
#rev-slider .author span{
	display: block;
	font-size: 16px;
	color: #fff;
	margin-top: 5px;
	font-style: italic;
}
#lovework {
	min-width: 1170px;
	margin-bottom: 70px;
	overflow: hidden;
}
#lovework h2 {
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 40px;
}
#lovework h2 img{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: relative;
	top: 0px;
}
#lovework:hover h2 img{
	top: -7px;
}
#lovework p {
	font-size: 18px;
	color: #454545;
	width: 750px;
	margin: 0 auto 40px;
	text-align: center;
	font-weight: 300;
}
#lovework .boxes {
}
#lovework .boxes:after {
	content: '';
	display: table;
	clear: both;
}
#lovework .box {
	float: left;
	width: 370px;
}
#lovework .box+.box {
	margin-left: 30px;
}
#lovework .box i{
	width: 370px;
	height: 230px;
	display: block;
	position: relative;
	overflow: hidden;
	visibility: hidden;
}
#lovework .boxes img {
	width: 370px;
	height: 230px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: absolute;
	top: 0;
	left: 0;
}
#lovework .box:hover img {
	transform: scale(1.3);
}
#lovework .boxes span {
	font-size: 21px;
	font-weight: 500;
	color: #26252C;
	display: block;
	margin-top: 22px;
	margin-bottom: 18px;
	visibility: hidden;
}
#lovework .boxes small {
	font-size: 16px;
	color: #26252C;
	font-weight: 300;
	display: block;
	visibility: hidden;
}
#inner-fixed {
	width: 100%;
}
#inner-fixed.fixed {
	padding-top: 350px;
	
}
#inner-fixed.fixed #del-method{
	padding-top: 20px;
}
#inner-fixed.fixed .inner-menu {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 100;
}
#del-method {
	min-width: 1170px;
	border-bottom: 1px solid #ECEEF3;
	margin-bottom: 50px;
	padding-top: 70px;
	position: relative;
	text-align: center;
}
#inner-fixed.fixed #del-method{
	left: -10px;
}
#del-method .title{
	color: #EE4755;
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: 300;
}
#del-method p{
	font-size: 16px;
	color: ##26252C;
	margin-bottom: 20px;
	font-style: italic;
	font-weight: 300;
}
#del-method span{
	font-size: 24px;
	color: #26252C;
	vertical-align: middle;
	font-style: normal;
}
#del-method span i{
	display: inline-block;
	height: 20px;
	margin: 0 20px;
	border-left: 1px solid #dddddd;
	position: relative;
	top: 3px;
}
#del-method .method a{
	display: inline-block;
	padding-bottom: 18px;
	font-size: 18px;
	color: #666666;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	text-decoration: none;
	background-image: url(../images/redline.png);
	background-repeat: no-repeat;
	background-position: -300px bottom;
	font-weight: 500;
}
#del-method .method a+a{
	margin-left: 40px;
}
#del-method .method a:hover,
#del-method .method a.active {
	background-position: 0px bottom;
	color: #26252C;
}
#inner-fixed.fixed #cat-menuroll{
	position: relative;
	left: -10px;
}
#cat-menuroll h2{
	color: #EE4755;
	text-align: left;
	font-size: 24px;
	margin-bottom: 19px;
}
#cat-menuroll ul{
	padding-top: 15px;
}
#cat-menuroll li {
	display: inline-block;
	list-style-type: none;
}
#cat-menuroll li+li {
	margin-left: 40px;
}
#cat-menuroll a{
	display: block;
	padding-bottom: 18px;
	font-size: 18px;
	text-decoration: none;
	background-image: url(../images/redline.png);
	background-repeat: no-repeat;
	background-position: -300px bottom;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	font-weight: 300;
}
#cat-menuroll a:hover {
	background-position: 0px bottom;
	color: #26252C;
}
#cat-menuroll a.active {
	background-position: 0px bottom;
	color: #26252C;
	font-weight: 500;
}
.left{
	float: left;
	width: 860px;
}
.right{
	float: right;
	width: 270px;
}

#catalog {
	padding: 40px 0;
	background: #f7f8fa;
	min-width: 1170px;
}
#catalog .right{
	width: 250px;
}
#catalog .roll {
	float: left;
	width: 200px;
	background-color: #fff;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}
#catalog .roll:nth-child(4n) {
	margin-right: 0px;
}
#catalog .roll .image {
	width: 200px;
	height: 180px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: relative;
}
#catalog .roll .dark{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 180px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#catalog .roll:hover .dark{
	opacity: 1;
}
#catalog .roll .dark span{
	position: absolute;
	bottom: 12px;
	left: 0px;
	width: 100%;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
#catalog .roll .dark i{
	display: inline-block;
	height: 10px;
	border-left: 1px solid #fff;
	margin: 0 10px;
}
#catalog .roll .image img{
	width: 200px;
}
#catalog .roll .title {
	font-size: 16px;
	line-height: 40px;
	color: #27252C;
	height: 40px;
	padding-left: 10px;
}
#catalog .roll .description {
	font-size: 14px;
	color: #454545;
	padding-left: 10px;
	font-style: italic;
	height: 68px;
	overflow: hidden;
	font-weight: 300;
}
#catalog .roll .ingridients {
	padding-left: 10px;
}
#catalog .roll .ingridients a.add{
	line-height: 42px;
	height: 42px;
	font-size: 12px;
	color: #26252C;
	text-decoration: none;
	background-image: url(../images/ingridients.png);
	background-repeat: no-repeat;
	background-position: 136px 16px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	display: block;
}
#catalog .roll .ingridients:hover a.add,
#catalog .roll .ingridients.active a.add{
	color: #F06360;
}
#catalog .roll .in-options {
	position: absolute;
	right: -220px;
	top: -30%;
	width: 200px;
	height: 100%;
	padding-left: 20px;
	background-color: #27252c;
	z-index: 100;
	line-height: normal;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all  0.3s ease-out;
	-ms-transition: all  0.3s ease-out;
	-o-transition: all  0.3s ease-out;
	transition: all  0.3s ease-out;
}
#catalog .roll .ingridients.active .in-options  {
	top: 0px;
	opacity: 1;
	visibility: visible;
}
#catalog .roll .ingridients .label {
	color: #fff;
	padding-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}
#catalog .roll .ingridient {
	outline: none !important;
	overflow: auto;
	width: 180px;
	padding-right: 14px;
	height: 70%;
	margin-bottom: 20px;
}
#catalog .roll .ingridient .jspContainer {
	height: 1000px !important;
	outline: none !important;
}
#catalog .roll .ingridient a{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	background-image: url(../images/ingridient.png);
	background-repeat: no-repeat;
	background-position: left 1px;
	height: 26px;
	margin-bottom: 18px;
	padding-left: 34px;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#catalog .roll .ingridient a.ok{
	background-image: url(../images/ingridientok.png);
}
#catalog .roll .ingridient a:hover{
	color: #F06360;
}
#catalog .roll .ingridient span{
	display: block;
	font-weight: 300;
}
#catalog .roll .in-price {
	font-size: 16px;
	line-height: 35px;
	color: #fff;
	height: 35px;
	position: absolute;
	width: 180px;
	left: 20px;
	bottom: 0px;
	border-top: 1px solid #615f64;
}

#catalog .roll .options {
	border-top: 1px solid #e6e6e6;
	padding: 10px 0 10px 10px;
}
#catalog .roll .options span{
	display: inline-block;
	font-size: 12px;
	color: #454545;
	font-weight: 300;
}
#catalog .roll .options span+span{
	margin-left: 40px;
}
#catalog .roll .options a{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	display: block;
	font-size: 16px;
	color: #26252C;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	text-decoration: none;
	background-position: right center;
	padding-right: 15px;
	font-weight: normal;
}
#catalog .roll .options a:hover,
#catalog .roll .options a.active{
	color: #F06360;
}
#catalog .roll .price {
	padding-left: 10px;
	height: 35px;
	line-height: 34px;
	width: 154px;
	position: relative;
	background-color: #27252c;
	margin-left: 1px;
	margin-bottom: 1px;
	float: left;
	font-size: 16px;
	color: #fff;
}
#catalog .roll .to-cart {
	float: left;
	height: 34px;
	width: 34px;
	position: relative;
}
#catalog .roll .to-cart .quantity {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #27252c;
	height: 35px;
	width: 107px;
	overflow: hidden;
	visibility: hidden;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
	opacity: 0;
}
#catalog .roll .to-cart.active .quantity {
	opacity: 1;
	visibility: visible;
}
#catalog .roll .to-cart .quantity a {
	display: block;
	float: left;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#catalog .roll .to-cart .quantity a:hover {
	opacity: 0.7;
}
#catalog .roll .to-cart .quantity span {
	height: 35px;
	width: 35px;
	display: block;
	font-size: 16px;
	line-height: 35px;
	color: #fff;
	background-color: #F06161;
	text-align: center;
	float: left;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
#catalog .roll .to-cart a.cart{
	display: block;
	height: 35px;
	width: 34px;
	font-size: 0px;
	background: url(../images/tocart.png) no-repeat 6px 4px #ee4455;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	margin-right: 1px;
}
#catalog .roll .to-cart a.cart:hover{
	background-color: #000;
}
#cart {
	padding-bottom: 40px;
}
#cart .item {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eceef3;
}
#cart .item:after {
	content: '';
	display: table;
	clear: both;
}
#cart .image {
	float: left;
	height: 90px;
	width: 100px;
	margin-right: 20px;
	overflow: hidden;
}
#cart .image img {
	width: 100px;
}
#cart .info {
	float: left;
	width: 430px;
	margin-right: 40px;
}
#cart .name {
	font-size: 16px;
	color: #27252C;
	margin-bottom: 10px;
}
#cart .description {
	font-size: 14px;
	color: #454545;
	font-style: italic;
	margin-bottom: 15px;
	font-weight: 300;
}
#cart .ingridients {
	font-size: 14px;
	color: #26252C;
}
#cart .ingridients:after {
	content: '';
	display: table;
	clear: both;
}
#cart .ingridients span{
	display: block;
	margin-top: 10px;
	background-color: #eceef3;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #26252C;
	float: left;
	padding: 0 10px;
}
#cart .ingridients span+span{
	margin-left: 8px;
}
#cart .ingridients a{
	position: relative;
	margin-left: 10px;
	top: 4px;
}
#cart .ingridients a img{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}
#cart .ingridients a:hover img{
	-webkit-transform: rotateZ( 360deg );
	-moz-transform: rotateZ( 360deg );
	-ms-transform: rotateZ( 360deg );
	-o-transform: rotateZ( 360deg );
	transform: rotateZ( 360deg );
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#cart .quantity {
	float: left;
	padding-top: 30px;
	margin-right: 40px;
}
#cart .quantity:after {
	content: '';
	display: table;
	clear: both;
}
#cart .quantity a {
	display: table-cell;
	vertical-align: middle;
	height: 22px;
	width: 22px;
	border: 1px solid #F06461;
	font-size: 0px;
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#cart .quantity a:hover {
	background: #F06461;
}
#cart .quantity span {
	height: 24px;
	width: 50px;
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	color: #26252C;
	text-align: center;
	font-weight: 500;
}
#cart .price {
	float: left;
	padding-top: 30px;
	font-size: 16px;
	line-height: 24px;
	color: #26252C;
	height: 24px;
	font-weight: 500;
}
#cart .delete {
	float: right;
	padding-top: 30px;
	padding-right: 30px;
	height: 24px;
}
#cart .delete a{
	position: relative;
	top: 4px;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	display: block;
	height: 17px;
	width: 17px;
}
#cart .delete a img{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}
#cart .delete a:hover img{
	-webkit-transform: rotateZ( 360deg );
	-moz-transform: rotateZ( 360deg );
	-ms-transform: rotateZ( 360deg );
	-o-transform: rotateZ( 360deg );
	transform: rotateZ( 360deg );
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#cart .total-price {
	text-align: right;
	font-size: 24px;
	color: #EC4C53;
	padding-right: 24px;
	font-weight: 300;
}
#cart .total-price span{
	color: #26252C;
	margin-left: 46px;
	font-weight: normal;
}
.sidebar {
	font-size: 16px;
	color: #868686;
}
.sidebar+.sidebar {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #dddddd;
}
.sidebar .menu{
}
.sidebar .menu+.menu{
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 30px;
	padding-top: 31px;
}
.sidebar .menu dt{
	text-transform: uppercase;
	margin-bottom: 20px;
}
.sidebar .menu dd{
	color: #27252C;
}
.sidebar .menu dd+dd{
	margin-top: 16px;
}
.sidebar .menu a{
	padding-bottom: 4px;
	border-bottom: 2px solid transparent;
	padding-top: 4px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.sidebar .menu a:hover,
.sidebar .menu a.active{
	border-color: #ee4455;
}
.sidebar .phone{
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-bottom: 30px;
	padding-bottom: 31px;
	text-transform: uppercase;
}
.sidebar .phone span{
	font-size: 24px;
	color: #27252C;
	display: block;
	margin-top: 20px;
}
.sidebar .time {
	text-transform: uppercase;
}
.sidebar .time span{
	text-transform: lowercase;
	display: block;
	margin-top: 20px;
	font-style: italic;
}
.sidebar .time strong{
	font-weight: normal;
	color: #27252C;
	font-style: normal;
	display: block;
}
.feedback .title{
	font-size: 21px;
	font-weight: 300;
	text-transform: uppercase;
	color: #26252C;
	text-align: center;
	margin-bottom: 20px;
}
.feedback {
	background-color: #f7f8fa;
	border: 1px solid #eeeff2;
	padding: 35px 29px;
}
.feedback input[type="text"], .feedback textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	background-color: #fff;
	font-size: 14px;
	font-style: italic;
	color: #666666;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.feedback input[type="text"]:hover,
.feedback textarea:hover,
.feedback input[type="text"]:focus, 
.feedback textarea:focus{
	border-color: #EE4455;
}
.feedback input[type="text"] {
	height: 38px;
} 
.feedback textarea{
	height: 80px !important;
	width: 210px !important;
	padding-top: 12px;
}
.feedback input[type="button"] {
	height: 40px;
	width: 100%;
	background: #EE4455;
	border: 1px solid #EE4455;
	font-size: 18px;
	color: #fff;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin-bottom: 20px;
}
.feedback input[type="button"]:hover {
	background: transparent;
	color: #222;	
}
.feedback p {
	font-size: 14px;
	color: #26252C;
	font-style: italic;
	padding: 0 12px;
	text-align: center;
	font-weight: 300;
}

#footer {
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#footer .dark{
	background-image: url(../images/footerline.png);
	background-repeat: no-repeat;
	background-position: center 575px;
}
#footer .wrap{
	height: 650px;
	padding-top: 70px;
}
#footer .info {
	float: left;
	background-color: #ee4755;
	width: 310px;
	height: 310px;
	margin-right: 70px;
	font-size: 16px;
	color: #fff;
	padding: 30px;
	line-height: 25px;
	margin-bottom: 85px;
}
#footer .info .adress {
	background: url(../images/gps.png)  no-repeat left top;
	padding-left: 35px;
	margin-bottom: 40px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 300;
}
#footer .info .adress:hover {
	background-position: left bottom;
}
#footer .info .adress span {
	font-size: 18px;
	display: block;
	font-weight: 500;
}
#footer .info .adress a{
	text-decoration: none;
	color: #fff;
	border-bottom: 1px dashed;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#footer .info .adress a:hover{
	border-color: transparent;
}
#footer .info .phone {
	background: url(../images/phone.png)  no-repeat left top;
	padding-left: 35px;
	margin-bottom: 40px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 300;
}
#footer .info .phone:hover {
	background-position: left 34px;
}
#footer .info .phone span {
	font-size: 18px;
	display: block;
	font-weight: 500;
}
#footer .info .btn {
	width: 198px;
	margin: 0 auto;
	text-align: center;
	border-color: #fff;
}
#footer .info .btn:hover {
	bacground: #fff !important;
	color: #EE4A55 !important;
}
#footer .socbox {
	text-align: center;
	float: left;
	padding-top: 30px;
	width: 290px;
}
#footer .socbox img {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: relative;
	top: 0px;
}
#footer .socbox:hover img {
	top: 15px;
}
#footer .socbox .btn {
	width: 198px;
	background: transparent;
	margin: 30px auto 40px;
}
#footer .socbox .btn:hover {
	background: #fff;
	border-color: #fff;
	color: #ee4755 !important;
}
#footer .socbox span {
	background-image: url(../images/socline.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	padding: 36px 50px 24px;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}
#footer .socbox strong {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}
.footlogo {
	float: left;
	margin-right: 30px;
	width: 370px;
	text-align: center;
	margin-bottom: 10px;
}
.footlogo a {
	margin-left: 15px;
	display: inline-block;
	height: 90px;
	width: 149px;
}
.footlogo span {
	display: table-cell;
	height: 90px;
	width: 149px;
	text-align: center;
	vertical-align: middle;
}
.footlogo img{
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.footlogo a:hover img{
	transform: scale(0.9);
}
.footmenu {
	float: left;
	margin-top: 14px;
}
.footmenu li{
	list-style-type: none;
	float: left;
}
.footmenu li+li{
	margin-left: 30px;
	background-image: url(../images/menutopli.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 38px;
}
.footmenu a{
	font-size: 14px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #fff;
	font-weight: 500;
}
.footmenu a:hover{
	border-color: #fff;
}
.footmenu a.active{
	border-color: #fff;
}
#footer {
	min-width: 1170px;
}
#footer .copyright {
	width: 210px;
	float: left;
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin-right: 30px;
	padding-left: 90px;
	padding-right: 70px;
	margin-top: 10px;
	font-weight: 300;
}
#footer .blocks {
	float: left;
	width: 770px;
}
#footer .blocks div{
	float: left;
	color: #fff;
}
#footer .blocks .adress {
	position: relative;
	font-size: 16px;
	text-align: left;
	padding-top: 10px;
	padding-left: 30px;
	margin-right: 44px;
	font-weight: 300;
}
#footer .blocks .adress:before {
	position: absolute;
	left: 0px;
	top: 0px;
	content: '';
	display: block;
	width: 22px;
	height: 30px;
	background: url(../images/gps.png) no-repeat left top;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#footer .blocks .adress:hover:before {
	top: -30px;
	opacity: 0;
}
#footer .blocks .adress:hover {
	background-position: left 31px;
}
#footer .blocks .adress span {
	font-size: 14px;
	display: block;
	margin-top: 15px;
}
#footer .blocks .phone {
	font-size: 24px;
	font-weight: 300;
}
#footer .blocks .phone span {
	background-image: url(../images/phone.png);
	display: block;
	padding-top: 3px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: left top;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#footer .blocks .phone span:hover {
	background-position: left 43px;
}
#footer .blocks .phone small {
	font-size: 14px;
	display: block;
	line-height: 20px;
	margin-top: 6px;
}
#footer .blocks .gp {
	float: right;
	margin-top: 7px;
	font-weight: 300;
}
#footer .blocks .gp a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	display: block;
}
#footer .blocks .gp span{
	display: block;
	margin-top: 10px;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;

}
#footer .blocks .gp a:hover span{
	-webkit-transform: rotateX( 360deg );
	-moz-transform: rotateX( 360deg );
	-ms-transform: rotateX( 360deg );
	-o-transform: rotateX( 360deg );
	transform: rotateX( 360deg );
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.fancybox-skin {
	padding: 0px !important;
}