.b-slider {
	overflow: hidden;
	&.rev-slider {
		padding-top: 70px;
		height: 500px;
		.item {
			position: relative;
			height: 300px;
			padding-bottom: 31px;
		}
		p {
			width: 750px;
			font-size: 18px !important; font-weight: 300;
			line-height: 22px !important;
			margin: 0 auto 15px auto;
		}
		.author {
			//position: absolute; left: 0px; top: 282px;
			width: 100%;
			text-align: center;
			img {
				display: inline-block;
				height: 46px !important;
				width: 46px !important;
				border: 2px solid #e74260;
				border-radius: 50%;
			}
			span{
				display: block;
				color: #fff;
				font-size: 16px; font-style: italic;
				margin-top: 5px;

			}
		}
		.owl-controlls {
			.owl-page {
				&:nth-child(3) {
					span { margin-left: 70px; }
				}
			}
		}
		.owl-theme {
			.owl-dots {
				.owl-dot {
					span {
						@include transition(all, 0.3s, ease-out);

						display: block;
						width: 12px; height: 12px;
						margin-right: 14px;
					    border: 2px solid #fff;
					    border-radius: 50%;
					    background-color: transparent;
					}
				}
			}
		}
		.owl-nav  {
			position: absolute; top: 50%;
			width: 100%;
			margin-top: 0;
			[class*='owl-'] {
				display: inline-block;
				width: 30px; height: 61px;
    			margin: 0; padding: 0;
    			background-color: transparent;
    			background-image: url('../images/ui-slider.png');
    			cursor: pointer;
    			border-radius: 0;
				&:hover, &.active {
		    		color: #FFF;
		    		text-decoration: none;
				}
				&.owl-prev {
					float: left;
					background-position: 0 0;
				}
				&.owl-next {
					float: right;
					background-position: -42px 0;
				}
			}
		}
	}
}