.b-header {
	background: url(../images/header.jpg) no-repeat center top;
	border-top: 4px solid #ee4755;
	color: #fff;
	min-width: 1170px;
	a {
		color: #fff;
	}
	.container {
		padding-top: 34px;
	}
	&__slider {
		@include clearfix;

		height: 505px;
		text-align: center;
		overflow: hidden;
		h2 {
			font-family: 'Kurale', serif; font-size: 54px; font-weight: normal; color: $white;
			line-height: 1.2em;
			margin: 0 0 42px; padding: 0;
		}
	    p {
	    	font-size: 21px;
			width: 520px;
			margin: 0 auto;
			padding-bottom: 25px;
			text-align: center;
			font-weight: 400;
	    }
	    &__title {
	    	margin-bottom: 26px;
			padding-bottom: 26px;
			background-image: url(../images/hsltit.png);
			background-repeat: no-repeat;
			background-position: center bottom;
	    }
	    &__item {
	    	padding-top: 95px;
	    }
	    .owl-controlls {
	    	position: absolute; bottom: 0;
	    }
	    &.owl-theme {
			.owl-dots {
				position: absolute; left: 0; bottom: 50px;
				width: 100%;
				.owl-dot {
					span {
						@include transition(all, 0.3s, ease-out);

						display: block;
						width: 12px; height: 12px;
						margin-right: 14px;
					    border: 2px solid #fff;
					    border-radius: 50%;
					    background-color: transparent;
					}
					&.active, &:hover {
						span {
							border-color: #e74260;
						}
					}
				}
			}

		}
	}
}