<div id="page">
    <div class="container"><a href="#" class="b-close_modal js-close_modal" id="close_modal">Close</a></div>
    <section class="b-section delivery_method">
        <div class="container">
            <div class="b-title center">
                <h3>ВЫБЕРИТЕ СПОСОБ ДОСТАВКИ</h3>
                <p>Выбор способа влияет на стоимость блюд Roll’ N’ Roll</p>
            </div>
            <nav class="b-nav sub center">
                <ul>
                    <li class="active"><a href="#">Самовывоз</a></li>
                    <li><a href="#">Доставка</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="b-section js-fix">
        <div class="container">
            <div class="b-title">
                <h3>МЕНЮ ROLL’N’ROLL</h3>
            </div>
            <nav class="b-nav sub">
                <ul>
                    <li><a href="#">Суши</a></li>
                    <li><a href="#">Маки роллы</a></li>
                    <li><a href="#">Роллы</a></li>
                    <li><a href="#">Запеченные роллы</a></li>
                    <li class="active"><a href="#">Темпура роллы</a></li>
                    <li><a href="#">Горячее</a></li>
                    <li><a href="#">Салаты</a></li>
                    <li><a href="#">Десерты</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="b-section catalogue">
        <div class="container">
            <div class="b-section__row">
                <div class="b-section__col left">
                    <div class="b-catalogue js-catalogue">
                        <div class="b-catalogue__item">
                            <div class="b-catalogue__item__image">
                                <img src="dist/images/roll.jpg">
                                <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                            </div>
                            <div class="b-catalogue__item__content">
                                <div class="b-catalogue__item__title">
                                    <h4>Копченный угорь</h4>
                                </div>
                                <div class="b-catalogue__item__description">
                                    <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                </div>
                                <div class="b-catalogue__item__ingridients">
                                    <a href="#" class="add js-catalogue-add">Добавить ингредиенты</a>
                                    <div class="b-modal js-catalogue-modal">
                                        <div class="b-modal__title">
                                            <h4>Дополнительные ингредиенты</h4>
                                        </div>
                                        <div class="b-modal__content js-scroll">
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                        </div>
                                        <div class="b-modal__footer">+ 230 <img src="dist/images/crub.png"></div>
                                    </div>
                                </div>
                                <div class="b-catalogue__item__options">
                                    <div class="b-select js-select">
                                        <span class="b-select__label">размер</span>
                                        <select name="" id="">
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                        </select>
                                    </div>
                                    <div class="b-select js-select">
                                        <span class="b-select__label">тесто</span>
                                        <select name="" id="">
                                            <option value="35">тонкое</option>
                                            <option value="35">не очень</option>
                                            <option value="35">толстое</option>
                                        </select>
                                    </div>
                                </div>
                            </div> <!-- /content -->
                            <div class="b-catalogue__item__price">
                                <span>145</span> <img src="dist/images/crub.png">
                            </div>
                            <div class="b-catalogue__item__to-cart b-counter js-counter">
                                <a href="#" class="cart js-counter-start">Купить</a>
                                <div class="quantity js-counter-pane">
                                    <a href="#" class="js-counter-minus"><img src="dist/images/minus.png"></a>
                                    <span>1</span>
                                    <a href="#" class="js-counter-plus"><img src="dist/images/plus.png"></a>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item js-catalogue-item">
                            <div class="b-catalogue__item__image">
                                <img src="dist/images/roll.jpg">
                                <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                            </div>
                            <div class="b-catalogue__item__content">
                                <div class="b-catalogue__item__title">
                                    <h4>Копченный угорь</h4>
                                </div>
                                <div class="b-catalogue__item__description">
                                    <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                </div>
                                <div class="b-catalogue__item__ingridients">
                                    <a href="#" class="add js-catalogue-add">Добавить ингредиенты</a>
                                    <div class="b-modal js-catalogue-modal">
                                        <div class="b-modal__title">
                                            <h4>Дополнительные ингредиенты</h4>
                                        </div>
                                        <div class="b-modal__content js-scroll">
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                        </div>
                                        <div class="b-modal__footer">+ 230 <img src="dist/images/crub.png"></div>
                                    </div>
                                </div>
                                <div class="b-catalogue__item__options">
                                    <div class="b-select js-select">
                                        <span class="b-select__label">размер</span>
                                        <select name="" id="">
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                        </select>
                                    </div>
                                    <div class="b-select js-select">
                                    <span class="b-select__label">тесто</span>
                                        <select name="" id="">
                                            <option value="35">тонкое</option>
                                            <option value="35">не очень</option>
                                            <option value="35">толстое</option>
                                        </select>
                                    </div>
                                </div>
                            </div> <!-- /content -->
                            <div class="b-catalogue__item__price">
                                <span>145</span> <img src="dist/images/crub.png">
                            </div>
                            <div class="b-catalogue__item__to-cart">
                                <a href="#" class="cart">Купить</a>
                                <div class="quantity">
                                    <a href="#"><img src="dist/images/minus.png"></a>
                                    <span>1</span>
                                    <a href="#"><img src="dist/images/plus.png"></a>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item">
                            <div class="b-catalogue__item__image">
                                <img src="dist/images/roll.jpg">
                                <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                            </div>
                            <div class="b-catalogue__item__content">
                                <div class="b-catalogue__item__title">
                                    <h4>Копченный угорь</h4>
                                </div>
                                <div class="b-catalogue__item__description">
                                    <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                </div>
                                <div class="b-catalogue__item__ingridients">
                                    <a href="#" class="add js-catalogue-add">Добавить ингредиенты</a>
                                    <div class="b-modal js-catalogue-modal">
                                        <div class="b-modal__title">
                                            <h4>Дополнительные ингредиенты</h4>
                                        </div>
                                        <div class="b-modal__content js-scroll">
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                        </div>
                                        <div class="b-modal__footer">+ 230 <img src="dist/images/crub.png"></div>
                                    </div>
                                </div>
                                <div class="b-catalogue__item__options">
                                    <div class="b-select js-select">
                                        <span class="b-select__label">размер</span>
                                        <select name="" id="">
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                        </select>
                                    </div>
                                    <div class="b-select js-select">
                                    <span class="b-select__label">тесто</span>
                                        <select name="" id="">
                                            <option value="35">тонкое</option>
                                            <option value="35">не очень</option>
                                            <option value="35">толстое</option>
                                        </select>
                                    </div>
                                </div>
                            </div> <!-- /content -->
                            <div class="b-catalogue__item__price">
                                <span>145</span> <img src="dist/images/crub.png">
                            </div>
                            <div class="b-catalogue__item__to-cart active">
                                <a href="#" class="cart">Купить</a>
                                <div class="quantity">
                                    <a href="#"><img src="dist/images/minus.png"></a>
                                    <span>1</span>
                                    <a href="#"><img src="dist/images/plus.png"></a>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item">
                            <div class="b-catalogue__item__image">
                                <img src="dist/images/roll.jpg">
                                <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                            </div>
                            <div class="b-catalogue__item__content">
                                <div class="b-catalogue__item__title">
                                    <h4>Копченный угорь</h4>
                                </div>
                                <div class="b-catalogue__item__description">
                                    <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                </div>
                                <div class="b-catalogue__item__ingridients">
                                    <a href="#" class="add js-catalogue-add">Добавить ингредиенты</a>
                                    <div class="b-modal js-catalogue-modal">
                                        <div class="b-modal__title">
                                            <h4>Дополнительные ингредиенты</h4>
                                        </div>
                                        <div class="b-modal__content js-scroll">
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                        </div>
                                        <div class="b-modal__footer">+ 230 <img src="dist/images/crub.png"></div>
                                    </div>
                                </div>
                                <div class="b-catalogue__item__options">
                                    <div class="b-select js-select">
                                        <span class="b-select__label">размер</span>
                                        <select name="" id="">
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                        </select>
                                    </div>
                                    <div class="b-select js-select">
                                    <span class="b-select__label">тесто</span>
                                        <select name="" id="">
                                            <option value="35">тонкое</option>
                                            <option value="35">не очень</option>
                                            <option value="35">толстое</option>
                                        </select>
                                    </div>
                                </div>
                            </div> <!-- /content -->
                            <div class="b-catalogue__item__price">
                                <span>145</span> <img src="dist/images/crub.png">
                            </div>
                            <div class="b-catalogue__item__to-cart">
                                <a href="#" class="cart">Купить</a>
                                <div class="quantity">
                                    <a href="#"><img src="dist/images/minus.png"></a>
                                    <span>1</span>
                                    <a href="#"><img src="dist/images/plus.png"></a>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item">
                            <div class="b-catalogue__item__image">
                                <img src="dist/images/roll.jpg">
                                <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                            </div>
                            <div class="b-catalogue__item__content">
                                <div class="b-catalogue__item__title">
                                    <h4>Копченный угорь</h4>
                                </div>
                                <div class="b-catalogue__item__description">
                                    <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                </div>
                                <div class="b-catalogue__item__ingridients">
                                    <a href="#" class="add js-catalogue-add">Добавить ингредиенты</a>
                                    <div class="b-modal js-catalogue-modal">
                                        <div class="b-modal__title">
                                            <h4>Дополнительные ингредиенты</h4>
                                        </div>
                                        <div class="b-modal__content js-scroll">
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                        </div>
                                        <div class="b-modal__footer">+ 230 <img src="dist/images/crub.png"></div>
                                    </div>
                                </div>
                                <div class="b-catalogue__item__options">
                                    <div class="b-select js-select">
                                        <span class="b-select__label">размер</span>
                                        <select name="" id="">
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                            <option value="35">35 см</option>
                                        </select>
                                    </div>
                                    <div class="b-select js-select">
                                    <span class="b-select__label">тесто</span>
                                        <select name="" id="">
                                            <option value="35">тонкое</option>
                                            <option value="35">не очень</option>
                                            <option value="35">толстое</option>
                                        </select>
                                    </div>
                                </div>
                            </div> <!-- /content -->
                            <div class="b-catalogue__item__price">
                                <span>145</span> <img src="dist/images/crub.png">
                            </div>
                            <div class="b-catalogue__item__to-cart active">
                                <a href="#" class="cart">Купить</a>
                                <div class="quantity">
                                    <a href="#"><img src="dist/images/minus.png"></a>
                                    <span>1</span>
                                    <a href="#"><img src="dist/images/plus.png"></a>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item">
                            <div class="b-catalogue__item__image">
                                <img src="dist/images/roll.jpg">
                                <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                            </div>
                            <div class="b-catalogue__item__content">
                                <div class="b-catalogue__item__title">
                                    <h4>Копченный угорь</h4>
                                </div>
                                <div class="b-catalogue__item__description">
                                    <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                </div>
                                <div class="b-catalogue__item__ingridients">
                                    <a href="#" class="add js-catalogue-add">Добавить ингредиенты</a>
                                    <div class="b-modal js-catalogue-modal">
                                        <div class="b-modal__title">
                                            <h4>Дополнительные ингредиенты</h4>
                                        </div>
                                        <div class="b-modal__content js-scroll">
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                        </div>
                                        <div class="b-modal__footer">+ 230 <img src="dist/images/crub.png"></div>
                                    </div>
                                </div>
                                <div class="b-catalogue__item__options">
                                    <span>размер<a href="#">35 см</a></span>
                                    <span>тесто<a href="#">тонкое</a></span>
                                </div>
                            </div> <!-- /content -->
                            <div class="b-catalogue__item__price">
                                <span>145</span> <img src="dist/images/crub.png">
                            </div>
                            <div class="b-catalogue__item__to-cart">
                                <a href="#" class="cart">Купить</a>
                                <div class="quantity">
                                    <a href="#"><img src="dist/images/minus.png"></a>
                                    <span>1</span>
                                    <a href="#"><img src="dist/images/plus.png"></a>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item">
                            <div class="b-catalogue__item__image">
                                <img src="dist/images/roll.jpg">
                                <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                            </div>
                            <div class="b-catalogue__item__content">
                                <div class="b-catalogue__item__title">
                                    <h4>Копченный угорь</h4>
                                </div>
                                <div class="b-catalogue__item__description">
                                    <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                </div>
                                <div class="b-catalogue__item__ingridients">
                                    <a href="#" class="add js-catalogue-add">Добавить ингредиенты</a>
                                    <div class="b-modal js-catalogue-modal">
                                        <div class="b-modal__title">
                                            <h4>Дополнительные ингредиенты</h4>
                                        </div>
                                        <div class="b-modal__content js-scroll">
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                        </div>
                                        <div class="b-modal__footer">+ 230 <img src="dist/images/crub.png"></div>
                                    </div>
                                </div>
                                <div class="b-catalogue__item__options">
                                    <span>размер<a href="#">35 см</a></span>
                                    <span>тесто<a href="#">тонкое</a></span>
                                </div>
                            </div> <!-- /content -->
                            <div class="b-catalogue__item__price">
                                <span>145</span> <img src="dist/images/crub.png">
                            </div>
                            <div class="b-catalogue__item__to-cart active">
                                <a href="#" class="cart">Купить</a>
                                <div class="quantity">
                                    <a href="#"><img src="dist/images/minus.png"></a>
                                    <span>1</span>
                                    <a href="#"><img src="dist/images/plus.png"></a>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item">
                            <div class="b-catalogue__item__image">
                                <img src="dist/images/roll.jpg">
                                <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                            </div>
                            <div class="b-catalogue__item__content">
                                <div class="b-catalogue__item__title">
                                    <h4>Копченный угорь</h4>
                                </div>
                                <div class="b-catalogue__item__description">
                                    <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                </div>
                                <div class="b-catalogue__item__ingridients">
                                    <a href="#" class="add js-catalogue-add">Добавить ингредиенты</a>
                                    <div class="b-modal js-catalogue-modal">
                                        <div class="b-modal__title">
                                            <h4>Дополнительные ингредиенты</h4>
                                        </div>
                                        <div class="b-modal__content js-scroll">
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#" class="ok">Сыр<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">колбаса Пепперони<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">Сочный ананас<span>20 руб/ 70 гр.</span></a>
                                            <a href="#">перчики Халапеньо<span>20 руб/ 70 гр.</span></a>
                                        </div>
                                        <div class="b-modal__footer">+ 230 <img src="dist/images/crub.png"></div>
                                    </div>
                                </div>
                                <div class="b-catalogue__item__options">
                                    <span>размер<a href="#">35 см</a></span>
                                    <span>тесто<a href="#">тонкое</a></span>
                                </div>
                            </div> <!-- /content -->
                            <div class="b-catalogue__item__price">
                                <span>145</span> <img src="dist/images/crub.png">
                            </div>
                            <div class="b-catalogue__item__to-cart js-counter">
                                <a href="#" class="cart js-counter-start">Купить</a>
                                <div class="quantity js-counter-pane">
                                    <a href="#"><img src="dist/images/minus.png"></a>
                                    <span>1</span>
                                    <a href="#"><img src="dist/images/plus.png"></a>
                                </div>
                            </div>
                        </div> <!-- /item -->
                    </div> <!-- /b-catalogue -->
                </div> <!-- /col -->
                <div class="b-section__col right">
                    <div class="b-sidebar">
                        <div class="b-sidebar__menu fadeIn">
                            <dl>
                                <dt>ПО ТИПУ</dt>
                                <dd><a href="#">Новинки</a></dd>
                                <dd><a href="#">Популярные</a></dd>
                                <dd><a href="#">Все суши</a></dd>
                            </dl>
                        </div>
                        <div class="b-sidebar__menu fadeIn">
                            <dl>
                                <dt>ПО ВКУСУ</dt>
                                <dd><a href="#">Острые</a></dd>
                                <dd><a href="#">Вегетарианские</a></dd>
                                <dd><a href="#">Экзотические</a></dd>
                            </dl>
                        </div>
                    </div> <!-- /sidebar -->
                    <div class="b-sidebar">
                        <div class="b-sidebar__phone">ЗАКАЗАТЬ ПО ТЕЛЕФОНУ<span>500-500</span></div>
                        <div class="b-sidebar__time">ПРИЕМ ЗАКАЗОВ<span><strong>10:00 &ndash; 23:00</strong>пн, вт, ср, чт, вс</span><span><strong>10:00 &ndash; 01:00</strong>пт, сб</span></div>
                    </div> <!-- /sidebar -->
                </div>
            </div>
        </div>
    </section>
</div>