.b-nav {
	list-style: none;
	li { display: inline-block; }
	&.main {
		@include transition(background, 0.3s, ease-out);
		padding: 1px 20px 0;
		background: url(../images/menutop.png) no-repeat center top;
		ul{
			padding-bottom: 1px;
			background: url(../images/menutop.png) no-repeat center bottom;
			li {
				+ li {
					margin-left: 30px; padding-left: 36px;
					background-image: url(../images/menutopli.png);
					background-repeat: no-repeat;
					background-position: left center;

				}
			}
			a {
				@include transition(all, 0.3s, ease-out);
				display: block;
				height: 54px;
				font-size: 18px; font-weight: 400;
				text-decoration: none; line-height: 54px;
				border-bottom: 5px solid transparent;
				&:hover, &:active { border-color: #cec8cb; }
			}
		}
		.phone{
			display: none;
			height: 50px;
			font-size: 18px; color: #fff;
			line-height: 21px !important; text-align: left;
			padding-left: 10px !important; padding-top: 10px;
			border-left: 1px solid #3d3b42;
			span { font-size: 16px; }
		}
		.cart {
			float: right !important;
			padding: 0; margin: 0;
			background-image: none;
			a {
				@include transition(all, 0.3s, ease-out);

				line-height: 60px;
				padding-left: 40px;
				border: 0px !important;
				background: url('../images/cart2.png') no-repeat 8px 19px;
			}
		}

		&.fixed {
			position: fixed; top: 0px; left: 0px;
			line-height: 60px;
			width: 100%; height: 60px;
			background-color: #27252C;
			background-image: none;
			z-index: 2000;
			ul {
				@include clearfix;
				width: 1170px;
				background: url(../images/menutoplogo.png) no-repeat left center;;
				padding-left: 100px; margin: 0 auto;
			}
			li {
				float: left;
				&:first-child {
					border-left: 1px solid #3d3b42;
					padding-left: 20px;
				}
				&:last-child { margin-left: 0px; }
				+ li {
					margin-left: 30px; padding-left: 0px;
					background: none;
					a {
						height: 55px;
						line-height: 60px;
					}
				}
			}
			.phone { display: block; }
			.cart{
				display: block;
				height: 60px !important;
				text-align: left;
				padding-right: 60px;
				border-left: 1px solid #3d3b42;
				a {
					width: 95px;
					padding-left: 40px;
				}
			}
		}
	}
	&__wrapper {
		position: relative;
		width: 100%; height: 56px;
	}
	&.sub {
		padding: 4px 0 0;
		li {
			font-size: 18px; font-weight: 300;
			margin-right: 40px;
			&:last-child { margin-right: 0; }
			&.active {
				font-weight: 500;
				a {
					color: #26252C;
					background-position: 0px bottom;
				}
			}
		}
		a {
			display: block;
			text-decoration: none;
			padding-bottom: 13px;
			background-image: url(../images/redline.png);
			background-repeat: no-repeat;
			background-position: -300px bottom;
			@include transition(all, 0.5s, linear);
			&:hover {
				color: #26252C;
				background-position: 0px bottom;
			}
		}
	}
}