/*
** Global styles
*/
* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	width:100%; min-height: 100%;
	color: #454545; font-family: 'Fira Sans', sans-serif; font-size: 14px;
	margin: 0; padding: 0;
	background-color: $white;
}

a, img { outline: none; }
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.container {
	@include clearfix;
	position: relative;
	width: 1170px;
	margin: 0 auto;
	&.close_modal {
		text-align: center
		a {
			font-size: 0px;
			text-decoration: none;
			display: block;
			height: 50px;
			width: 50px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: -25px;
			background: url(../images/method.png) no-repeat;
		}
	}
}
.wrap {
	position: relative;
    width: 1170px;
    margin: 0 auto;
    &.close_modal {
		text-align: center
		a {
			font-size: 0px;
			text-decoration: none;
			display: block;
			height: 50px;
			width: 50px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: -25px;
			background: url(../images/method.png) no-repeat;
		}
	}
}
#page {
	position: relative;
    min-height: 100%;
    background-color: #fff;
}
.center {
	text-align: center;
}
.b-title {
	margin-bottom: 20px;
	h3 {
		color: #EE4755; font-size: 24px; font-weight: 300;
    	margin: 45px 0 20px;
	}
	p {
		font-size: 16px; color: #26252C; font-style: italic; font-weight: 300;
	}
}

.b-section {
	&__row {
		@include clearfix;
	}
	&__col {
		float: left;
		&:last-child { margin-right: 0; }
		&.left {
			width: 860px;
		}
		&.right {
			float: right;
			width: 250px;
		}
		&.ml85 { margin-left: 85px; }
		&.mr85 { margin-right: 85px; }
	}
	&.delivery_method {
		margin-bottom: 52px;
		border-bottom: 1px solid #ECEEF3;
		.b-title {
			h3 {
				margin: 0 0 14px;
			}
		}
	}
	&.catalogue {
		padding: 40px 0;
		background-color: #f7f8fa;
	}
	&.lovework {
			margin-bottom: 70px;
			overflow: hidden;
		h2 {
			font-size: 36px;
			line-height: 36px;
			margin-bottom: 40px;
			img {
				@include transition(all, 0.3s, ease-out);
				position: relative; top: 0px;
			}
		}
		p {
			width: 750px;
			color: #454545;
			font-size: 18px; font-weight: 300;
			text-align: center;
			margin: 0 auto 40px;
		}
		.boxes {
			@include clearfix;
			img {
				@include transition(all, 0.3s, ease-out);
				position: absolute; top: 0; left: 0;
				width: 370px; height: 230px;
			}
			span {
				display: block;
				color: #26252C;
				font-size: 21px; font-weight: 500;
				margin-top: 22px; margin-bottom: 18px;
				visibility: hidden;
			}
			small {
				display: block;
				color: #26252C; font-size: 16px; font-weight: 300;

				visibility: hidden;
			}
		}
		.box {
			float: left;
			width: 370px;
			i {
				display: block;
				position: relative;
				width: 370px; height: 230px;
				overflow: hidden;
				visibility: hidden;
			}
			+ .box { margin-left: 30px; }
			&:hover {
				img { transform: scale(1.3); }
			}
		}

		&:hover {
			h2 {
				img { top: -7px; }
			}
		}
	}
	&.reviews {
		background: url(../images/reviews.jpg) no-repeat center top;
		color: #fff;
		margin-bottom: 40px;

		.container { height: 497px; }
		h2 {
			color: #fff;
			line-height: 36px;
		}
	}
	&.fixed {
		position: fixed; top: 60px;
		width: 100%;
		z-index: 1500;
		background: #FFF;
	}
}

.dark {
    background: rgba(39, 37, 44, 0.6);
}

#delivery {
	overflow: hidden;
	min-width: 1170px;
	h2 {
		text-transform: none;
		margin-bottom: 16px;
	}
	#sl-l{ visibility: hidden; }
	.title {
		width: 180px; height: 119px;
		margin: 0 auto 20px;
		span{
			display: table-cell;
			height: 119px; width: 180px;
			text-align: center;
			vertical-align: middle;
		}
		img {
			@include transition(all, 0.3s, linear);

			height: 100%; width: 100%;
		}


		&:hover {
			img { transform: scale(0.9); }
		}
	}
	p {
		width: 740px;
		color: #212121; font-size: 18px; font-weight: 300;
		text-align: center;
		line-height: 25px;
		margin: 0 auto 45px;
	}
}
#object {
    visibility: hidden;
}

.features {
	@include clearfix;

	width: 960px; height: 404px;
	margin: 0 auto; padding-top: 45px;
    background-image: url(../images/delivery.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.feat {
	float: left;
	width: 280px;
	font-size: 18px; color: #666666; font-style: italic; font-weight: 300;
	margin-bottom: 100px;
	line-height: 26px;

	span { font-weight: 500; }

	+ .feat {
		float: right;
		text-align: right
	}
}