h1 {
	font-family: 'Kurale', serif;
	font-size: 54px;
	font-weight: normal;
}

h2 {
	font-size: 36px;
	color: #26252C;
	font-weight: 300;
	margin-bottom: 50px;
	text-align: center;
}
h4 {

}

a {
	text-decoration: underline;
	color: #262626;
	&:hover {
		text-decoration: none;
	}
}

.text {
	p {

	}
}