// backgrounds
$ui-img: url('../../assets/i/ui.png');
$ui-mobile: url('../../assets/i/ui-mobile.png');
$ui-slider: url('../../assets/i/slider-ui.png');
$ui-datepicker: url('../../assets/i/datepicker-ui.png');
// $bg: url('/assets/img/main_bg.jpg');
// $bg-main: url('/assets/img/bg-sky.jpg');
// $bg-header: url('/assets/img/header-bg.png');
// $bg-transp: url('/assets/img/bg-transp.png');

// colors

$text_color: #303030;
$link-color: #362a86;

$white: #FFF;
$black: #000;
$pink: #d2007e;
$light-gray: #c8c8c8;

$light-blue: #a2a5f2;
$deep_blue: #2a2d87;

// font size
$header-2: 2.6em; // 42px
$large: 2em; // 32px
$header-3: 1.75em; // 28px
$semi-large: 1.5em; // 22px
$high-normal: 1.25em; // 20px
$header-4: 1.13em; // 18px
$normal: 1em; // 16px
$smaller: 0.88em; // 14px
$small: 0.75em; // 12px


// grid
$low-tide: 951px;
$middle-tide: 769px;
$semi-tide: 641px;
// > iPhone 6 plus
$high-tide: 415px;
// iPhone4
$ultra-tide: 321px;
// this site
$limit-tide: 590px;

$susy: (
  gutters: 1,
  math: fluid,
  output: float,
);