.b-catalogue {
	&__item {
		position: relative;
		float: left;
    	width: 200px;
    	background-color: #fff;
    	margin: 0 20px 20px 0;
    	&:nth-child(4n) {
    		margin-right: 0;
    	}
    	&__content { padding-left: 10px;}
    	&__image {
    		@include transition(all, 0.3s, ease-out);

    		position: relative;
    		width: 200px; height: 180px;
    		overflow: hidden;
    		img { width: 100%; }
    		.dark {
    			@include transition(all, 0.3s, ease-out);

    			position: absolute; top: 0px; left: 0px;
    			width: 200px; height: 180px;
    			opacity: 0;

    			span {
    				position: absolute; bottom: 12px; left: 0px;
    				width: 100%;
    				font-size: 14px; color: #fff;
    				text-align: center;
    			}
    			i {
    				display: inline-block;
    				height: 10px;
    				margin: 0 10px;
    				border-left: 1px solid #fff;
    			}
    		}
    		&:hover {
    			.dark { opacity: 1; }
    		}
    	}
    	&__title {
    		h4 {
    			font-size: 16px; color: #27252C; font-weight: normal;
    			line-height: 40px;
    		}
    	}
    	&__description {
    		height: 68px;
    		font-weight: 300;
    		overflow: hidden;
    		p {
    			font-size: 14px; color: #454545; font-style: italic;
    		}
    	}
    	&__ingridients {
    		a {
    			&.add {
    				@include transition(all, 0.3s, ease-out);

		    		display: block;
		    		height: 42px;
		    		font-size: 12px; color: #26252C;
		    		line-height: 42px; text-decoration: none;
		    		background-image: url(../images/ingridients.png);
		    		background-repeat: no-repeat;
		    		background-position: 136px 16px;
    			}
    		}
            &.active {
                .b-modal {
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                }
            }
    	}
    	&__price {
			position: absolute;
		    height: 35px; width: 100%;
		    font-size: 16px; color: #fff;
		    line-height: 34px;
		    background-color: #27252c;
		    padding-left: 10px;
		}
		&__options {
            @include clearfix;

			border-top: 1px solid #e6e6e6;
    		padding: 10px 0 10px;
    		// span {
    		// 	display: inline-block;
    		// 	color: #454545; font-size: 12px; font-weight: 300;
    		// 	margin-left: 40px;
    		// 	&:first-child { margin-left: 0; }
    		// }
    		a {
    			display: block;
    			color: #26252c; font-size: 16px; font-weight: normal;
    			text-decoration: none;
    			padding-right: 15px;
    			background-image: url("../images/arrow.png");
    			background-position: right center;
    			background-repeat: no-repeat;
    			transition: all 0.3s ease-out 0s;
    		}
            .b-select {
                float: left;
                width: 50%;
                span {
                    display: block;
                }
            }
		}
		&__to-cart {
			position: relative;
			float: right;
    		height: 34px;
    		a {
    			&.cart {
    				@include transition(all, 0.3s, ease-out);
    				display: block;
    				height: 35px; width: 34px;
    				font-size: 0px;
    				background: url(../images/tocart.png) no-repeat 6px 4px #ee4455;
    			}
    		}
    		.quantity {
    			@include transition(opacity, 0.3s, ease-out);

    			visibility: hidden;
				position: absolute; top: 0px; right: 0px;
				height: 35px; width: 105px;
			    background: #27252c;
			    overflow: hidden;
			    opacity: 0;
			    a {
			    	@include transition(all, 0.3s, ease-out);

			    	display: block;
			    	float: left;
			    	img { display: inline-block; }
			    }
			    span {
			    	display: block;
			    	float: left;
			    	height: 35px; width: 35px;
				    font-size: 16px; color: #fff; text-align: center;
				    line-height: 35px;
				    background-color: #F06161;
				    border-left: 1px solid #fff;
				    border-right: 1px solid #fff;
			    }
    		}

    		&.active {
    			.quantity {
    				opacity: 1;
    				visibility: visible;
    			}
    		}
		}


	}
}
