.b-footer {
	background-image: url("../images/footer.jpg");
    background-position: center top;
    background-repeat: no-repeat;

	p { color: $white; }

	&__top {
		padding-top: 70px;
		.b-section__row {
			margin-bottom: 75px;
		}
		.b-section__col {
			&:first-child { margin-right: 85px; }
			&:last-child { margin-left: 69px; }
		}
	}
	&__bottom {
		padding-bottom: 20px;
		.b-section__col {
			&:last-child {
				float: right;
			}
		}
	}
	&__info {
    	width: 370px;
    	padding: 40px 30px 45px 40px;
    	font-size: 16px; color: #fff;
    	line-height: 25px;
    	background-color: #ee4755;
    	&__adress, &__phone {
    		@include transition(all, 0.3s, ease-out 0s);

			font-weight: 300;
			padding-left: 35px;
    		background-color: rgba(0, 0, 0, 0);
    		background-repeat:  no-repeat;
    		background-position: left top;

    		&:hover { background-position: left bottom; }
			a {
    			@include transition(all, 0.3s, ease-out);

				display: inline-block;
    			color: #fff; text-decoration: none;
    			padding-bottom: 5px;
    			border-bottom: 1px dashed;
    		}
    		span {
    			display: block;
    			font-size: 18px; font-weight: 500;
    		}
    	}
    	&__adress {
    		margin-bottom: 40px;
    		background-image: url("../images/gps.png");
    	}
    	&__phone {
    		margin-bottom: 25px;
    		background-image: url("../images/phone.png");
    	}
    	.b-button { border-color: #fff;
			&__container {
				padding: 0;
			}
    	}
	}

	&__social {
		width: 290px;
		text-align: center;
		padding-top: 30px;
		&:hover { img { top: 15px; } }
		img {
			@include transition(all, 0.3s, ease-out);

		    position: relative; top: 0px;
		}
		span {
			display: block;
			color: #fff; font-size: 18px; font-weight: 300;
			padding: 36px 50px 24px;
			background-image: url('../images/socline.png');
    		background-repeat: no-repeat;
    		background-position: center top;
    	}
    	strong { font-size: 18px; font-weight: 500; color: #fff; }
		.b-button { background: transparent;
			&__container {
				padding: 24px 0 42px;
			}
		}
	}
	&__logo {
		width: 370px;
		text-align: center;
		margin: 20px 0 10px;
		a {
			display: inline-block;
			height: 90px; width: 149px;
			margin-left: 15px;
			&:hover { img { transform: scale(0.9); } }
		}
		span {
			display: table-cell;
			height: 90px; width: 149px;
			text-align: center;
			vertical-align: middle;
		}
		img {
			@include transition(all, 0.3s, ease-out);
			height: 100%; width: 100%;
		}
	}
	&__copyright {
		width: 210px;
		font-size: 16px; color: #fff; text-align: center;font-weight: 300;
		margin: 10px 30px 0 90px; //padding: 0 70px 0 90px;
	}
	&__adress {
		position: relative;
		font-size: 16px; text-align: left; font-weight: 300;
		padding: 10px 0 0 30px;
		margin: -26px 44px 0 70px;

		&:hover {
			background-position: left 31px;

			&:before {
				top: -30px;
				opacity: 0;
			}

		}
		&:before {
			@include transition(all, 0.3s, ease-out);
			display: block;
		    position: absolute; left: 0px; top: 0px;
		    width: 22px; height: 30px;
		    content: '';
		    background: url(../images/gps.png) no-repeat left top;
		}
		span {
			display: block;
			font-size: 14px;
			margin-top: 15px;
		}
	}
	&__phone {
		font-size: 24px; font-weight: 300;
		margin-top: -24px;
		span {
			@include transition(all, 0.3s, ease-out);
			display: block;
			background-image: url(../images/phone.png);
			background-repeat: no-repeat;
			background-position: left top;
			padding: 3px 0 0 30px;
		}
		small {
			display: block;
			font-size: 14px;
			line-height: 20px;
    		margin-top: 6px;
		}

		&:hover {
			span { background-position: 0 43px; }
		}
	}
	&__gp {
		font-weight: 300;
    	margin-top: -16px;
    	a {
    		display: block;
    		color: #fff; font-size: 14px; text-decoration: none;
    		span {
				display: block;
				margin-top: 10px;
				transition: transform 1s ease 0s;
    		}

    		&:hover {
    			span {
    				transform: rotateX(360deg);
    				transform-style: preserve-3d;
    			}
    		}
    	}
	}
	.b-button {
		&__container {
			text-align: center;

		}
	}
	.b-nav {
		padding-top: 20px;
		li {
			margin-left: 30px; padding-left: 38px;
			background-image: url("../images/menutopli.png");
    		background-position: left center;
    		background-repeat: no-repeat;
    		&:first-child {
    			background: none;
    			margin-left: 0;
    		}
		}
		a {
			@include transition(all, 0.3s, ease-out);

    		color: $white; font-size: 14px; font-weight: 500; text-decoration: none;
    		border-bottom: 1px solid transparent;
    		&:hover { border-bottom-color: $white; }
		}
	}

	.dark {
		background-image: url(../images/footerline.png);
	    background-repeat: no-repeat;
	    background-position: center 574px;
	}
}