.b-menuroll {
	padding-top: 65px;
	margin-bottom: 67px;
	div {
		position: relative;
    	font-size: 18px; color: #1F1F1F;
    	text-transform: uppercase;
    	font-weight: 500;
    	i {
    		@include transition(all, 0.3s, ease-out);
    		position: absolute; left: 0px; top: 0px;
    		display: table-cell;
			height: 100%; width: 100%;
			z-index: 10;
			&:hover { background: rgba(238, 77, 85, 0.85); }
		}
		span {
			display: block;
			position: absolute;
			padding-top: 20px;
			background: url(../images/menurollspanr.jpg) no-repeat left top;
			z-index: 20;
		}
		.t-left {
			@include transition(top, 0.3s, ease-out);

			left: 30px; top: 28px;
		}
		.center {
			@include transition(top, 0.3s, ease-out);

			top: 28px; left: 0px;
			width: 100%;
			text-align: center;
			background-position: center top;
		}
		.white {
			color: #fff;
			background: url(../images/menurollspanw.jpg) no-repeat center top;
		}

		&:hover {
			i {  }
		}
	}
	h2 {
		text-align: left; text-transform: none;
		margin-bottom: 57px;
		background: url(../images/h2.png) no-repeat 510px center;
	}
	li {
		list-style-type: none;
		margin-bottom: 14px;
		a {
			@include transition(top, 0.3s, ease-out);

			text-decoration: none;
			border-bottom: 1px solid transparent;
			&:hover{
				color: #EE4D55;
				border-color: #EE4D55;
			}
		}
	}
	@mixin menuroll-item($w, $h, $fl) {
		width: $w; height: $h;
		float: $fl;
		visibility: hidden;
	}
	.menu {
		@include menuroll-item(570px, 570px, left);

		span { top: 300px; }
	}
	.salats {
		@include menuroll-item(300px, 255px, right);

		margin-top: 31px;
	}
	.hot {
		@include menuroll-item(300px, 255px, right);

		margin-bottom: 29px;
	}
	.novelty {
		@include menuroll-item(300px, 510px, right);

		margin-top: 31px; margin-bottom: 29px;
	}
	.soups {
		@include menuroll-item(250px, 240px, left);
	}
	.napitki {
		@include menuroll-item(250px, 240px, left);
	}
	.deserts {
		@include menuroll-item(670px, 300px, left);

		position: relative;
		margin-top: -29px;
	}
}
